* {
  margin: 0;
  padding: 0;
}

.anyClass {
  height:580px;
  overflow-y: scroll;
}

.logo {
  background-color: black
}

.login-footer {
  margin-left: 185px;
  padding-bottom: 30px;
}

.header {
  background-color: #0E6B90
}

.content {
  background-color: rgb(200, 200, 207);
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ---------------------------------------- */
/* footer */
.footer-top {
  background-color: rgb(31, 34, 36);
}

.social {
  margin: auto;
  width: 500px;
}

.footer-bottom {
  background-color: rgb(27, 27, 27);
}
/* end-footer */